<!doctype html>
<html lang="en">
<head>
<meta property="og:title" content="{{{name}}} | Agentic Learning AI Lab" />
<meta property="og:description" content="{{{description}}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://agenticlearning.ai/research/{{{permalink}}}" />
<!--Replace with the current website url-->
<meta property="og:image" content="https://agenticlearning.ai/{{{image}}}" />
{{> head}}
</head>
<body class="tw-flex tw-min-h-[100vh] tw-flex-col tw-bg-[#fff] tw-font-mono">
    {{> header}}

    <section class="tw-relative tw-flex tw-w-full tw-max-w-[100vw] tw-min-w-[350px] tw-flex-col tw-overflow-hidden tw-mt-[150px] tw-px-[5%] max-md:tw-px-4 max-lg:tw-px-4 lg:tw-justify-around xl:tw-justify-around">
            <div class="tw-h-[200px] tw-w-[200px] tw-overflow-hidden">
                <img src={{{image}}}
                    class="tw-h-full tw-w-full tw-object-cover"
                    alt="design"/>
            </div>
    </section>

    <section class="tw-w-full tw-flex-col tw-px-[5%] tw-py-[3%] tw-mt-10 max-lg:tw-p-4">
        <div class="tw-flex-col sm:tw-w-[100%] md:tw-w-[80%] lg:tw-w-[60%] xl:tw-w-[50%]">
            <h3 class="text-left tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                {{name}}
            </h3>

            <div class="section-underline tw-my-4">
            </div>
            <div class="tw-gap-2 tw-max-w-100">
                <p class="tw-mt-4 tw-italic">
                {{{position}}}
                </p>
                <p class="tw-text-gray-600 tw-mt-4">
                {{{description}}}
                </p>
                <div class="tw-flex tw-mt-8 tw-gap-x-2 tw-gap-y-4 tw-min-w-[100px] tw-flex-wrap">
                {{#if webpage}}
                <div class="tw-flex-col person-page-links">
                    <a href={{{webpage}}}>
                        <span>Personal Website</span>
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                {{/if}}
                {{#if google_scholar}}
                <div class="tw-flex-col person-page-links">
                    <a href=https://scholar.google.com/citations?user={{{google_scholar}}}>
                        <span>GScholar Profile</span>
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                {{/if}}
                </div>
            </div>
        </div>
        {{#if papers}}
        <div class="tw-flex-col sm:tw-w-[100%] md:tw-w-[80%] lg:tw-w-[60%] xl:tw-w-[50%]">
            <h3 class="tw-mt-10 text-left tw-text-xl tw-font-medium max-md:tw-text-2xl">
                {{name}}'s Papers
            </h3>
            <div id="flexContainer" class="tw-mt-4 tw-flex tw-flex-col tw-gap-y-4">
                {{> person_paper papers }}
            </div>

            <div class="pagination-controls tw-mt-12 tw-flex tw-justify-center tw-items-center tw-gap-2">
                <button id="prevButton" class="tw-px-6 tw-py-1 tw-text-black disabled:tw-text-gray-300"
                    onclick="prevPage()">Prev</button>
                <span id="pageNumbers" class="tw-flex tw-gap-2"></span>
                <button id="nextButton" class="tw-px-6 tw-py-1 tw-text-black disabled:tw-text-gray-300"
                    onclick="nextPage()">Next</button>
            </div>
        </div>
        {{/if}}
    </section>
    {{> footer}}
</body>
<script src="/index.js"></script>
<script src="/person.js"></script>
</html>
