<!doctype html>
<html lang="en">
<head>
<meta property="og:title" content="{{{name}}} | Agentic Learning AI Lab" />
<meta property="og:description" content="{{{description}}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://agenticlearning.ai/research/{{{permalink}}}" />
<!--Replace with the current website url-->
<meta property="og:image" content="https://agenticlearning.ai/{{{image}}}" />
{{> head}}
</head>
<body class="tw-flex tw-min-h-[100vh] tw-flex-col tw-bg-[#fff] tw-font-mono">
    {{> header}}

    <section class="tw-relative tw-flex tw-w-full tw-max-w-[100vw] tw-min-w-[350px] tw-flex-col tw-overflow-hidden tw-mt-[150px] tw-px-[5%] max-md:tw-px-4 max-lg:tw-px-4 lg:tw-justify-around xl:tw-justify-around">
        <div class="tw-flex tw-w-full tw-place-content-center tw-gap-6 max-xl:tw-place-items-center max-lg:tw-flex-col">
        <div class="image-container">
            <img src="{{{image}}}" alt="app" class="reveal-hero-img tw-z-[1] tw-h-full tw-w-full tw-object-contain"/>
            <div class="text-overlay">
            <div class="tw-flex tw-flex-wrap tw-text-7xl tw-font-semibold tw-leading-[85px] max-md:tw-text-4xl max-md:tw-leading-snug" style={position: relative}>
                <span class="reveal-hero-text">
                    {{title}}
                </span>
            </div>
        </div>
        </div>
    </section>

<!-- 
    <section class="tw-relative tw-flex tw-w-full tw-max-w-[100vw] tw-min-w-[350px] tw-flex-col tw-overflow-hidden tw-mt-[150px] tw-px-[5%] max-md:tw-px-4 max-lg:tw-px-4 lg:tw-justify-around xl:tw-justify-around">
            <div class="tw-h-[200px] tw-w-[200px] tw-overflow-hidden">
                <img src={{{image}}}
                    class="tw-h-full tw-w-full tw-object-cover"
                    alt="design"/>
            </div>
    </section> -->

    <section class="tw-w-full tw-flex-col tw-px-[5%] max-lg:tw-p-4">
        <!-- sm:tw-w-[100%] md:tw-w-[80%] lg:tw-w-[60%] xl:tw-w-[50%] -->
            <div class="tw-flex-col tw-w-full">
            <!-- <h3 class="text-left tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                
            </h3>

            <div class="section-underline tw-my-4">
            </div> -->
            <div class="tw-gap-2 tw-max-w-100">
                <p class="tw-text-gray-600 tw-mt-4">
                {{{description}}}
                </p>
            </div>

            <h3 class="text-left tw-text-2xl tw-font-medium max-md:tw-text-xl tw-mt-10">
                Research Works in the Area
            </h3>
            <div class="section-underline tw-my-4">
            </div>

            <div class="tw-mt-8 tw-gap-10 tw-space-y-reverse sm:tw-columns-1 md:tw-columns-2 lg:tw-columns-3 xl:tw-columns-4 tw-items-start">
                {{> recent_works papers }}
            </div>

        </div>
    </section>
    
    {{> footer}}
</body>
<script src="/index.js"></script>
</html>
