{{#each this}}
<a href="/research/{{{permalink}}}" class="search-result-item">
    <div class="search-result-content">
        <div class="search-result-thumbnail">
            <img src="{{{image}}}" alt="{{{title}}}" />
        </div>
        <div class="search-result-text">
            <div class="search-result-title">{{{title}}}</div>
            <div class="search-result-subtitle">{{formatDate date "YYYY-MM-DD"}}</div>
            <div class="search-result-subtitle">{{{formatAuthors authors}}}</div>
        </div>
        <i class="bi bi-arrow-right search-result-arrow"></i>
    </div>
</a>
{{/each}}