{{#each this}}
<a href="/research/{{{permalink}}}">
<div class="safari-padding-fix">
<!-- reveal-up  -->
<!-- tw-rounded-lg  -->
<div class="tw-flex tw-h-fit tw-break-inside-avoid tw-flex-col tw-gap-2 tw-bg-[#f3f3f3b4] tw-p-4 max-lg:tw-w-full max-lg:tw-max-w-[400px] hover:tw-shadow-lg tw-transition-shadow tw-duration-300 tw-overflow-hidden">
    <div class="tw-flex tw-place-items-center tw-gap-3">
        <!-- tw-rounded-lg -->
        <div class="tw-h-[300px] tw-w-full tw-overflow-hidden ">
            <img src={{{image}}}
                class="tw-h-full tw-w-full tw-object-cover"
                alt="design"/>
        </div>
        <!--  tw-transition-transform tw-duration-300 tw-transform hover:tw-scale-110 -->
    </div>
    <div class="tw-flex tw-flex-col tw-gap-2">
        <h3 class="tw-text-xl tw-font-medium tw-mt-4">{{{title}}}</h3>
        <p class="tw-text-gray-600 tw-mt-4">
            {{{short_abstract}}}
        </p>
        <p class="tw-mt-4">
        Publish Date: {{formatDate date "YYYY-MM-DD"}}
        </p>
        <a href=/research/{{{permalink}}} class="tw-mt-4">
            <span>Learn more</span>
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>
</div>
</div>
</a>
{{/each}}